
body {
    padding-top: 70px;
}

.jumbotron {
    color: #2c3e50;
    background: #ecf0f1;
}

.navbar-inverse {
    background: #2c3e50;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

/*content keeps everything within the body and controls the white box of the container*/
.content {
    width: 105%;
    min-height: 10px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1px;
    
}

.tableCentre1 {
    /*margin-left: 10px;*/
    margin: 0 auto;
    
    padding: 30px;
    align-content: center;
}
.text_container {
    width: 100%;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
/*this is for 2 containers when required*/
.text_container_2col {
    width: 50%;
    margin: 0;
    float: left;
    text-align: left;
}

.text_container_2col_right {
    width: 50%;
    margin: 0;
    float: right;
    text-align: justify;
}

.text_container_2col a {
    text-decoration: underline;
}

.main_menu {

    color: white;
    
}