body{

}
#topContent {
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    color: White;
    font-size: x-large;
    font-family: 'Righteous', cursive;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    height: 100px;
}
/*Content*/

.nav_style {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    text-align: left;
    background-color: white;
}
or the properties of the unordered list in the nav bar*/
.nav_style ul {
margin-top: 0%;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 15px;
padding-left: 0px;
width: 100%;
}
/*for the individual elements of the navbar, the transitionon point is for when it changes state how long it takes to transition to the new colour*/
.nav_style ul li {
list-style: none;
float: left;
margin-right: auto;
font-family: 'Righteous', cursive;
color:black;
letter-spacing: 2.5px;
margin-left: auto;
text-align: center;
width: 15%;
transition: all 0.3s linear;
font-size: 15px;
}

.nav_style ul li:hover {
    color: #717070;
    cursor: pointer;
}

.nav_style ul li:visited {
    color: black;
}


header {
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
}

/*content keeps everything within the body and controls the white box of the container*/
.content {
    width: 100%;
    min-height: 10px;
    margin: 10px 0px 10px 0px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*For the things that we want to be at the bottom of the page*/
footer {
    position: page;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

a {
    color: inherit;
}